<div class="wrapper">
  <h1>Angular 2 Query-Input</h1>
  <p>Click into the input and follow the suggestions or start typing...</p>
  <p>&nbsp;</p>

  <query-input
    placeholder="Enter a query..."
    [categories]="categories"
    [suggestions]="suggestions"
    (queryChange)="queryChanged($event)"
    (queryCalled)="queryCalled($event)"
    [(queryString)]="currentQueryString">
  </query-input>

  <p>&nbsp;</p>
  <p>Current Query-String: {{currentQueryString}}</p>
  <p>Current Query:</p>
  <ul>
    <li *ngFor="let queryPart of currentQuery.parts">{{ queryPart.category ? queryPart.category.name : "" }} - {{ queryPart.value }}</li>
  </ul>

  <p>&nbsp;</p>
  <p>Entered Query:</p>
  <ul>
    <li *ngFor="let queryPart of calledQuery.parts">{{ queryPart.category ? queryPart.category.name : "" }} - {{ queryPart.value }}</li>
  </ul>
</div>
