<div class="query-input-wrapper" #queryInputWrapper>
  <div class="input">
    <input type="text" [(ngModel)]="queryString" [placeholder]="placeholder" #queryStringInput>
  </div>
  <div class="suggestions" [hidden]="!suggestionsVisible">
    <div>
      <div class="hiddenSpacer">{{ queryString }}</div>
      <ul>
        <li class="suggestion"
            *ngFor="let queryPart of getAutocompleteSuggestions(); let index=index"
            [ngClass]="index == selectedSuggestion ? 'selected' : ''"
            (mouseover)="selectSuggestion(index)"
            (click)="appendQueryPart(queryPart)">
          <div class="category-name">{{ queryPart.category ? queryPart.category.name : "" }}:</div>
          <div class="value">{{ queryPart.value }}</div>
          <div class="category-description">{{ queryPart.category ? queryPart.category.description : "" }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
